<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.washington.apache78.FlashStudy" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".FlashCardApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="Flash Study" >
        </activity>
        <activity
            android:name=".activities.FlashCardActivity"
            android:label="@string/title_activity_flash_card" >
        </activity>
        <activity
            android:name=".activities.UploadActivity"
            android:label="@string/title_activity_upload" >
        </activity>
        <activity
            android:name=".activities.UploadSuccessActivity"
            android:label="@string/title_activity_upload_success" >
        </activity>
        <activity
            android:name=".activities.UploadFailedActivity"
            android:label="@string/title_activity_upload_failed" >
        </activity>
    </application>

</manifest>
