<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.washington.apache78.FlashStudy" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".FlashCardApp"
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity android:name=".activities.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="Flash Study" >
        </activity>
        <activity
            android:name=".activities.FlashCardActivity"
            android:label="@string/title_activity_flash_card" >
        </activity>
        <activity
            android:name=".activities.UploadActivity"
            android:label="@string/title_activity_upload" >
        </activity>
        <activity
            android:name=".activities.UploadSuccessActivity"
            android:label="@string/title_activity_upload_success" >
        </activity>
        <activity
            android:name=".activities.UploadFailedActivity"
            android:label="@string/title_activity_upload_failed" >
        </activity>
        <activity
            android:name=".activities.GoogleDriveActivity"
            android:label="@string/title_activity_google_drive" >
        </activity>
        <activity
            android:name=".activities.RetrieveContentsWithProgressDialogActivity"
            android:label="@string/title_activity_retrieve_contents_with_progress_dialog" >
        </activity>
        <activity
            android:name=".activities.ConvertNoteActivity"
            android:label="@string/title_activity_convert_note" >
        </activity>
    </application>

</manifest>
